{{#each list}}
<div class="panel panel-default">
  <div class="panel-heading">
  <a href="/article/show/{{id}}">{{title}}</a>
</div>
  <div class="panel-body"> 
  	<p>{{summary}}</p>
  	<p class="text-right">
  		({{created_on}},
  		阅读:<span class="text-danger">{{views_count}}</span>,
  		评论:<span class="text-danger">{{comments_count}}</span>)
    	[ <a href="/artile/show/{{id}}">查看全文</a>]
    </p>
  </div>
</div>
{{/each}}