{{#each list}}
<div class="panel panel-default">
  <div class="panel-heading">
  <a href="/article/show/{{id}}">{{title}}</a>
</div>
  <div class="panel-body"> 
  	<p>{{summary}}</p>
  	<p class="text-right">
  		({{dateFormat created_on "yyyy-mm-dd HH:MM:ss"}},
  		阅读:<span class="text-danger">{{views_count}}</span>,
  		评论:<span class="text-danger">{{comments_count}}</span>)
    	[ <a href="/article/show/{{articleId id alias}}">查看全文</a>]
    </p>
  </div>
</div>
{{/each}}