<div class="content">

<div class="edit_title">
  <h1>编辑</h1>
</div>

<form action="/article/update/{{article.id}}" method="post" class="edit_content">
  <p><label for="article_category">分类：</label>
    <select id="article_category" name="category_id">
      {{#each categories}}
      <option value="{{id}}" {{isSelected id @root.article.category_id}}>{{name}}</option>
      {{/each}}
    </select>
    <label for="article_format">格式：</label><select id="article_format" name="format"><option value="html" {{isSelected 'html' article.format}}>Html</option><option value="markdown" {{isSelected 'markdown' article.format}}>Markdown</option></select>
    <label for="article_recommend">推荐：</label><input id="article_recommend" name="recommend" type="checkbox" />
    <label for="article_writer">作者：</label><input id="article_writer" name="writer" type="text" maxlength="50" size="20" value="{{article.writer}}" />
  </p>
  <p><label for="article_reference">引用：</label><input id="article_reference" name="reference" type="text" maxlength="255" size="94" value="{{article.reference}}" /></p>

  <p><label for="article_title">标题：</label><br /><input id="article_title" name="title" type="text" maxlength="255" size="100" value="{{article.title}}" /></p>
  <p><label for="article_alias">别名：</label><br /><input id="article_alias" name="alias" type="text" maxlength="255" size="100" value="{{article.alias}}" /></p>

  <p><label for="article_content">内容：</label><br /><textarea id="article_content" name="content" cols="100" rows="20">{{article.content}}</textarea></p>
  <p><label for="article_summary">摘要：</label><br /><textarea id="article_summary" name="summary" cols="100" rows="5" onchange="checkMaxLen(this,20);">{{article.summary}}</textarea></p>

  <div class="edit_action">
    <input type="submit" value="修改" /> | <a href="/article/list">返回</a>
  </div>
</form>
<br />

</div>

